.header{
    height:100px;
    background-color: #64b5f6;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.tv{
    font-size:30px;
    padding: 20px;
}

.form{
    padding:40px;
}

input[type="search"] {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
.searchBtn{
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    margin-left: 5px;
    border-radius: 4px;
    cursor: pointer;
  }